<div class="main-box">
    <a href="/"></a>
    <div class="box">
        <h2>ACHIEVEMENTS</h2>
        <div class="input-box">
            <label for="">Write something about your personal achievements.</label>
            <div class="input-box-btn">
                <textarea type="text" name="achievement" id="" class="input1" rows="10"><%= data?data[0].achievement:'' %></textarea>
            </div>
        </div>
        <div class="buttons">
            <button class="btn" onclick="saveEducation(1,'achievement')">Save</button>
        </div>
    </div>
</div>